<!DOCTYPE html>
<html>
  <head>
    <title>Twilio Example</title>
    <meta name="description" content="Example of Twilio SMS Frontend">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/92f6e0cd-426b-4840-84ec-50b94e0a326a%2Fmobile-phone_1f4f1.png?1519849920406" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        max-width: 800px;
        margin: 1em auto;
        font-family: "Ariel", sans-serif;
      }

      #message-form label, #message-form input, #message-form textarea, #message-form button {
        font-size: 125%;
      }

      #message-form textarea {
        width: 100%;
        max-width: 400px;
        height: 5em;
      }

    </style>
  </head>
  <body>
    <h1>
      Twilio Example
    </h1>

    <p>
      This app sends and receives SMS messages using Twilio. It stores sent/received messages in memory, if the app restarts messages are lost. To get started you will need to make a <a href="https://twilio.com" target="_blank">Twilio</a> account and buy a Twilio phone number. If you have a trial account with Twilio (you will until you add money to your account -- even once you've bought a phone number), you will only be able to send SMS to verified numbers. More info about Twilio trial accounts <a href="https://support.twilio.com/hc/en-us/articles/223136107-How-does-Twilio-s-Free-Trial-work-" target="_blank">here</a>. You can add verified numbers to your account <a href="https://www.twilio.com/console/phone-numbers/verified" target="_blank">here</a>.
    </p>

    <h3>
      You will need to set values for the following environment variables:
    </h3>

    <ul>
      <li>ACCOUNT_SID -- Get this from Twilio it is a long alphanumeric string</li>
      <li>AUTHTOKEN  -- Also get this from Twilio, also a long alphanumeric string</li>
      <li>FROM_TWILIO_NUMBER -- This is a phone number you bought on Twilio</li>
    </ul>


    <h2>
      Send a message:
    </h2>
    <div id="message-form">
      <label>Number:</label><br>
      <input id="number-input" type="tel" value="+1"><br>
      <label>Message:</label><br>
      <textarea id="message-input"></textarea><br>
      <button id="send-message">Send</button>
    </div>

    <br>
    <hr>

    <h2>
      Message Log:
    </h2>
    <div id="messages"></div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
